body{
    background: rgb(29, 30, 92);
}
#main {
    background: rgb(29, 30, 92);
    position: fixed;
    margin-top: 18vw;
}
nav{
    width: 100vw;
    background: #003366;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    height: 1%;
}
nav a{
    text-decoration: none;
    margin: 0.5vw 6vw 0 1vw;
    color: #e6f7ff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 1.25vw;
    font-size: 1.8vw;
}
nav h2{
    text-decoration: none;
    margin: 0.2vw 12vw 1vw 1vw;
    color: #fff;
    font-size:2vw;
    margin-top: 1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
nav form button{
    margin-top: 1.25vw;
    background-color: red;
}
#about,#about1{
    width: 43vw;
    margin-left:10vw;
}
#about{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
}
#about1{
    color: rgb(255, 210, 120);
    font-weight: lighter;
    line-height: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size:1.5vw;
}
#bold {
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0vw;
    color: rgb(251, 255, 4);
    font-family: serif;
    font-size: 3vw;
}
.letter {
    opacity: 0; /* Initially hidden */
    display: inline-block;
    transition: opacity 0.6s ease infinite;
}
#social{
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    border: 0.2vw solid pink;
}
#social:hover{
    transform: translateY(0.3vw);
}
#img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    margin-left: 15vw;
}
#profile{
    margin-left: 69vw;
    margin-top: -30vw;
}
#image {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 0.2vw solid pink;
    box-shadow: 0.4vw 0.9vw 9.4vw rgb(236, 255, 127);
    transition: transform 0.5s ease;
    cursor: pointer;
}

/* Zoom on hover */
#image:hover {
    transform: scale(1.1);
}

/* Alternative: Zoom on click (hold) */
#image:active {
    transform: scale(1.5);
}
#contact{
    text-align: center;
    color: white;
    font-size: 1.8vw;
    display: inline-block;
    margin-left: 45vw;
    margin-top: 3vw;
}
#contact h3{
    margin-top: 1.4vw;
    color: cyan;
}
form{
    background: rgb(24, 25, 87);
    margin-left: 65vw;
    width: 25vw;
    border-radius: 2vw;
    color: white;
    font-size: 3vw;
    margin-top: -15vw;
    text-align: center;
}
input{
    width: 20vw;
    margin-left: 0.5vw;
    border-radius: 0.6vw;
    background-color: rgb(24, 25, 87);
    border: none;    
    border-bottom: 0.1vw solid white;
    color: gold;
    font-size: 1.6vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5vw;
    text-align: center;
}
textarea{
    background-color: black;
    color: gold;
    padding: 0.4vw;
    width: 20vw;
    height: 10vw;
    border-radius: 1vw;
    border: 0;
    font-size: 1.3vw;
    margin-left: 0.5vw;
    max-height: 7vw;
    max-width: 6vw;
    min-width: 21vw;
    min-height: 6vw;
    margin-top: 0.9vw;
}
button{
    width: 21vw;
    margin-top: 0.9vw;
    height: 3vw;
    margin-left: 0.5vw;
    background-color:rgb(0, 247, 255) ;
    color: black;
    filter: drop-shadow(1vw 2vw 60vw  cyan);
    border: 0;
    font-size: 1.6vw;
    border-radius: 20vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background-color: rgb(4, 250, 4);
    color: black;
}
input:focus{
    border: none;
    outline: none;
}
#ctimg{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5vw;
    margin-top:10vw;
    margin-left: 7vw;
}
#social1{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50vw;
}
#social1:hover{
    transform: translateY(0.6vw);
}
#br{
    height: 19vw;
}
a{
    margin-top: 2vw;
    font-size: 1.6vw;
    margin-left: 2.6vw;
    color: rgb(255, 95, 95);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#slog{
    display: inline-block;
    margin-left: 14vw;
    color: rgb(95, 248, 7);
    font-size: 2.2vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  #slog span {
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin-right: 0.1vw;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
#thank{
    width: 50vw;
    margin: auto;
    height: 4vw;
    padding: 0.2vw;
    margin-top: 19vw;
}
#thanks{
    color: rgb(211, 255, 110);
    font-family: Jokerman;
    border-bottom: 0.1vw solid white;
    border-radius: 10%;
    font-size: 1.6vw;
}
#span{
    animation: pulse 2s infinite;
    text-align: center;
    width: 4vw;
    height: 1vw;
    display: inline-block;
}
@keyframes pulse 
		{
		  0% {
			transform: scale(0.9);
			opacity: 1;
		  }
		  50% {
			transform: scale(2);
			opacity: 1;
		  }
		  100% {
			transform: scale(0.9);
			opacity: 1;
		  }
		}
strong{
    color: rgb(251, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    margin-left:1vw;
}
::selection{
    background-color: rgb(0, 255, 55);
    color: black;
}
#infopage{
    margin: auto;
    width: 80vw;
    margin-top: 19vw;
    text-align: left;
    font-size: 0.7vw;
    font-family: monospace;
}
#infopage h3{
    color: cyan;
    font-size: 3.4vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -18vw;
    margin-left: 2vw;
}
#infopage strong{
    color: rgb(251, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    margin-left: 2vw;
}
#about3{
    margin-top: 1vw;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    margin-left: 2vw;
}
#info{
    width: 70vw;
    font-size: 1.4vw;
    line-height: 0.8cm;
    margin-left: 3vw;
    margin-top: 2vw;
    text-align: left;
    color: rgb(180, 180, 180);
    margin-bottom: 5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
#body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  cursor: grab;
}
.box{
  position: relative;
  width: 19%;
  height: 12vw;
  transform-style: preserve-3d;
  animation: animate 60s linear infinite;
}
@keyframes animate{
  0%{
    transform: perspective(100vw) rotateY(0deg);
  }
  100%{
    transform: perspective(100vw) rotateY(360deg);
  }
}
.box #span1{
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(24vw);
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,red);
}
.box #span1 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  border: 0.1vw solid red;
  filter: drop-shadow(2px 3px 40px cyan);
  border-radius: 1vw;
  height: 70%;
  object-fit: cover;
}
h1{
  margin-top: -16%;
  margin-left: 16%;
  font-size: 2vw;
  color:  rgb(0, 255, 221);
 }
#img h3{
    margin-top: 9vw;
    margin-left: -16vw;
}
h3 a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1vw;
    width: 30vw;
    margin-top: 9vw;
    margin-right: 3vw;
    margin-left: -1vw;
    background-color: white;
    padding: 1vw;
    border-radius: 30vw;
    box-shadow: 1px 2px 3px 4px grey;
}
#skill{
    margin-left: 35%;
    cursor: grab;
}
#skill h1{
    margin-top: 1vw;
    color: gold;
}
#subskill h5{
    margin-left: 19vw;
    color: white;
    margin-top: 2vw;
    font-size: 2.2vw;
    margin-bottom: -6vw;
}
#develop{
    margin-top: 12vw;
    margin-bottom: 15vw;
    cursor: grab;
}
#develop img{
    margin-left: 20vw;
    margin-top: 3vw;
    width: 4%;
    height: 4%;
    border-radius: 2vw;
    display: inline-block;
}
#develop strong{
    margin-left: 1vw;
    margin-top: -5vw;
    font-size: 1.6vw;
}
