<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}
{% block body_block%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About| Sri Ram Janjanam{% endblock %}</title>
</head>
<body>
    <div id="infopage">
        <h3>About Me</h3>
        <h1 id="about3">Hello, I am Sri Ram Janjanam</h1>
        <strong>Full-Stack Developer</strong>
        
        <div id="info">
            <p>As a Python Full-Stack Web Developer, I have worked on both front-end and back-end aspects of web development. For the front-end, I am proficient in HTML, CSS, and JavaScript. I have used these technologies to design responsive and user-friendly interfaces, ensuring that the web applications are both functional and visually appealing. I also have experience working with front-end frameworks like React and Bootstrap to build dynamic and interactive websites.</p>

            <p>On the back-end side, I have strong experience working with Python, particularly with Django. I have developed RESTful APIs using Django's REST framework and integrated them with front-end technologies. I am comfortable working with databases, and I have used both SQL (SQLite, Mysql) and NoSQL (MongoDB) databases to store and manage data efficiently. In my projects, I have implemented various features such as user authentication, form validations.</p>
            
            <p>I have also worked with Git for version control, ensuring that the code is maintained properly. I am always learning and keeping up with the latest technologies to improve my skills as a full-stack developer.</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>