<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Skills| Sri Ram Janjanam{% endblock %}</title>
</head>
{% block body_block%}
<body>
    <div id="skill">
        <h1>My Skills</h1>
    </div>
    <div id="subskill">
        <h5>Technical Skills</h5>
    </div>
    <div id="body">
        <div class="box">
            <span style="--i: 1" id="span1"><img src="{% static 'images/html.jpg' %}" alt="" id="img2" title="HTML"><h1 title="HTML">HTML</h1></span>
            <span style="--i: 2" id="span1"><img src="{% static 'images/css.jpg' %}" alt=""id="img2" title="CSS"><h1>CSS</h1></span>
            <span style="--i: 3" id="span1"><img src="{% static 'images/js.png' %}" alt="" id="img2" title="JavaScript"><h1>JavaScript</h1></span>
            <span style="--i: 4" id="span1"><img src="{% static 'images/python.png' %}" alt="" id="img2" title="Python"><h1>Python</h1></span>
            <span style="--i: 5" id="span1"><img src="{% static 'images/jango.png' %}" alt="" id="img2" title="Django"><h1>Django</h1></span>
            <span style="--i: 6" id="span1"><img src="{% static 'images/sql1.png' %}" alt="" id="img2" title="Mysql"><h1>Mysql</h1></span>
            <span style="--i: 7" id="span1"><img src="{% static 'images/boot.jpg' %}" alt="" id="img2" title="Bootstrap"><h1>Bootstrap</h1></span>
            <span style="--i: 8" id="span1"><img src="{% static 'images/rest1.png' %}" alt="" id="img2" title="Restapi"><h1>Restapi</h1></span>
         </div>
    </div>
    <div id="develop">
        <h1>Development Tools & Version Control</h1>
        <h2><img src="{% static 'images/git1.png' %}" alt="">
            <strong>Git</strong>
        </h2>
        <h2><img src="{% static 'images/git.png' %}" alt="">
            <strong>GitHub</strong>
        </h2>
        <h2><img src="{% static 'images/vscode.png' %}" alt="">
            <strong>Vscode</strong>
        </h2>
    </div>
     



    {% endblock %}
</body>
</html>